.dragItem {
    position: relative;
    padding-left: 3em !important;
}
.handle {
    position: absolute;
    width: 2em;
    height: 2em;
    left: 0.5em;
    top: 0.5em;
    background: #f00;
    border-radius: 5px;
}